<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout.html :: head(title='Country: ' + ${country.name})"></head>
    <body>
        <nav th:replace="layout.html :: nav"></nav>
        <header>
            <h1 th:text="'Country: ' + ${country.name}"></h1>
        </header>
        <main>
            <h2>Country details:</h2>
            <p><em class="blocklabel">Name: </em><span th:text="${country.name}"></span></p>
            <p><em class="blocklabel">ID: </em><span th:text="${country.code}"></span></p>
            <h2>Regions in this country:</h2>
            <ul th:each="region : ${country.regions}">
                <li>
                    <span th:text="${region.name}"></span>
                    (<a th:href="'/region/show/' + ${region.code}" th:text="${region.code}"></a>)
                </li>
            </ul>
            <p class="separator"></p>
            <p><a href="/country/all">Back to countries list</a></p>
        </main>
    </body>
</html>
