<!DOCTYPE html>
<html lang="en">
    <head>
        <title>404 error</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>404 Error</h1>
        <p>The following element could not be found:</p>
        <table border="0">
            <tr>
                <td><b>Class:</b></td>
                <td th:text="${cls.name}"></td>
            </tr>
            <tr>
                <td><b>ID:</b></td>
                <td th:text="${id}"></td>
            </tr>
        </table>
    </body>
</html>
