---
---

@import "{{ site.theme }}";

header {
    background: #002f5f;
    color: #ffffff;
    width: 100%;
    padding-left: 1ex;
}

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
    width: 100%;
    text-align: center;
  }