html {
  color: white;
  height: 100%;
}

body {
  height: inherit;
  background-color: navy;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  display: inline-block;
  font-size: 10rem;
}